<ion-header>
    <ion-toolbar color="login-green">
      <ion-title>
        Acesso Admin    </ion-title>
      <ion-buttons start>
        <button tappable ion-button (click)="dismiss()">
          <ion-icon color="white" name="md-close" ></ion-icon>
          <!-- <ion-icon color="white" name="arrow-down" showWhen="ios"></ion-icon> -->
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content>
  <div *ngIf="afAuth.authState | async as user; else showLogin">
    <ion-list>
        <ion-list-header>
            <ion-searchbar (ionInput)="getItems($event)" placeholder="Novo Item"></ion-searchbar>
    <ion-buttons end>
        <button ion-button icon-only (click)="presentConfirm()">
          <ion-icon name="add"></ion-icon>
        </button>
      </ion-buttons>
          </ion-list-header>
      <ion-item *ngFor="let item of atividades; let i = index;">
          {{item.name}}
          <button ion-button clear item-end  (click)="deleteItem(item.key)">Del</button>
      </ion-item>
    </ion-list>
  </div>
  <ng-template #showLogin>
    <form (submit)="doLogin()">
      <ion-list>

        <ion-item>
          <ion-label fixed>Email</ion-label>
          <ion-input type="email" [(ngModel)]="account.email" name="email"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label fixed>Senha</ion-label>
          <ion-input type="password" [(ngModel)]="account.password" name="password"></ion-input>
        </ion-item>

        <div padding>
          <button ion-button color="primary" block>Login</button>
        </div>

      </ion-list>
    </form>
  </ng-template>
</ion-content>
