<ion-header>
  <ion-navbar color="login-green">
    <ion-title>
      Pesquisa Locais
    </ion-title>
  </ion-navbar>
</ion-header>
<div id="agmmap">
</div>
<ion-content padding>
    <ion-spinner *ngIf="loading"></ion-spinner>
 <ion-list no-lines>
   <ion-item no-lines (click)="showModal()">
     <ion-searchbar tappable color="primary" id="autocomplete" type="text" name="title" #searchbar [(ngModel)]="userAddress" placeholder="Entre com um endereço..."></ion-searchbar>
   </ion-item>
   <ion-item no-lines>
     <agm-map  [streetViewControl]="false"  [disableDefaultUI]="true" [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom" [styles]="styles">
       <agm-marker [iconUrl]="{
    url: './assets/icon/blue-pin.png',
    size: {width: 35, height: 53},
    scaledSize: {width: 35, height: 53 }
    }" [latitude]="latitude" [longitude]="longitude"></agm-marker>
     </agm-map>
   </ion-item>
 </ion-list>
 <hr>
 <ion-grid>
   <ion-row>
    <ion-col col-12>
      <ion-fab bottom right >
        <button ion-fab>Opções</button>
        <ion-fab-list side="left">
          <button ion-fab (click)="showPesquisa()"><ion-icon name="search"></ion-icon></button>
          <button ion-fab><ion-icon name="attach"></ion-icon></button>
          <button ion-fab>{{countItensSaved}}</button>
        </ion-fab-list>
      </ion-fab>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col col-4>
        Nome
    </ion-col>
    <ion-col col-5>
        Endereço
    </ion-col>
    <ion-col col-3>
        Classificaçao
    </ion-col>
  </ion-row>
  <hr>
  <ion-row *ngFor="let item of itens" [ngClass]="{'row-saved': isSaved(item.place_id)}" class="row-itens"  (click)="openItem(item)">
    <ion-col  col-4>
        {{item.name}}
    </ion-col>
    <ion-col col-5>
        {{item.vicinity}}
    </ion-col>
    <ion-col col-3>
        {{item.rating ? item.rating : 'NA' }}
    </ion-col>
  </ion-row>
</ion-grid>
</ion-content>
<ion-footer *ngIf="pagination?.hasNextPage" (click)="pagination.nextPage()">
  <button ion-button full>Mais Resultados</button>
</ion-footer>
