<ion-header>

  <ion-toolbar color="login-green">
    <ion-title> Pesquisa Locais </ion-title>
    <ion-buttons start>
      <button tappable ion-button (click)="dismiss()">
        <ion-icon color="white" name="md-close" showWhen="android"></ion-icon>
        <ion-icon color="white" name="arrow-down" showWhen="ios"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p>{{endereco}}</p>
  <ion-item>
      <ion-label >Raio de Busca (metros)</ion-label>
      <ion-badge color="secondary" item-end>{{search.radius}}</ion-badge>
      <ion-range min="50" max="5000" color="secondary" [(ngModel)]="search.radius">
        <ion-label range-left>50</ion-label>
        <ion-label range-right>5000</ion-label>
      </ion-range>
    </ion-item>
  <ion-item>
      <ion-label> Pesquisa Generica ({{ isGenerica ? 'Sim' : 'Não' }})</ion-label>
      <ion-toggle [(ngModel)]="isGenerica" (ionChange)="updateItem(isGenerica)" checked="false">
      </ion-toggle>
  </ion-item>
  <ion-searchbar *ngIf="isGenerica" placeholder="Pesquisa Generica" [(ngModel)]="search.query" (ionInput)="getSearchTerm($event)"></ion-searchbar>

  <ion-list *ngIf="!isGenerica"  radio-group [(ngModel)]="search.type">
    <ion-list-header>
      Escolha um dos Tipos do Google
      <ion-searchbar [(ngModel)]="search.query" placeholder="Filtrar" (ionInput)="getSearchTerm($event)"></ion-searchbar>
    </ion-list-header>
    <ion-item *ngFor="let item of types">
      <ion-label>{{item.name}}</ion-label>
      <ion-radio [value]="item"></ion-radio>
    </ion-item>
  </ion-list>
</ion-content>
<ion-footer>
  <ion-toolbar color="secondary">

    <button ion-button color="save" (click)="enviar(search)" [disabled]="(isGenerica && search.query ==='') || (!isGenerica && search.type === null)">
      Enviar
    </button>
  </ion-toolbar>
</ion-footer>
