<ion-header>

  <ion-toolbar color="login-green">
    <ion-title> {{itens.length}} Locais Salvos </ion-title>
    <ion-buttons start>
      <button tappable ion-button (click)="dismiss()">
        <ion-icon color="white" name="md-close"></ion-icon>
        <!-- <ion-icon color="white" name="arrow-down" showWhen="ios"></ion-icon> -->
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card *ngFor="let item of itens" >
    <ion-card-content>
        <ion-card-title>
            <a href="tel:{{item?.formatted_phone_number}}" icon-left small>
              {{item?.formatted_phone_number}}
              <ion-icon name="logo-skype"></ion-icon>
             </a>
           </ion-card-title>
      <p>
         {{item?.formatted_address}}
      </p>
      <ion-list>
          <ion-list-header>
              Horarios de Funcionamento
            </ion-list-header>
        <ion-item *ngFor="let i of item?.opening_hours?.weekday_text" >
              <span>
                {{i}}
              </span>
          </ion-item>
      </ion-list>
      <ion-item *ngIf="item?.website" >
        <a [href]="item?.website" target="_blank" >
          Web Site
        </a>
        <button ion-button icon-left clear item-end>
            <ion-icon name="star"></ion-icon>
            {{item.rating ? item.rating : 'NA'}}
          </button>
      </ion-item>
    </ion-card-content>
  </ion-card>
  <button ion-button block (click)="exportCsv(itens)"> <ion-icon name="attach" >Salvar</ion-icon> </button>
  <button ion-button block (click)="limpar()"> <ion-icon name="close" >Limpar</ion-icon> </button>
</ion-content>
